:root {
  --primary-text-color: #292d32;
  --secondary-text-color: #b5b7c0;
  --background-color: #ffffff;
  --background-color: #ffffff;
  --light-text-color: #ffffff;
  --title-text-color: #000000;
  --userposition-text-color: #757575;
  --navitem-text-color: #9197b3;
  --active-title-color: #16c098;
  --active-button-textcolor: #008767;
  --active-button-bgcolor: rgba(22, 192, 152, 0.38);
  --inactive-button-textcolor: #df0404;
  --inactive-button-bgcolor: #ffc5c5;
  --active-item-bgcolor: #5932ea;
  --active-item-textcolor: #ffffff;
  --paginator-bgcolor: #eeeeee;
  --paginator-bgcolor-active: #5932ea;
  --version-color: #838383;
  --search-input-bgcolor: #f9fbff;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
.isActive {
  background-color: var(--active-item-bgcolor);
  color: var(--active-item-textcolor);
}

.container {
  min-width: 360px;
}

// mobile navigation styles
.navbar {
  width: 100%;
  -webkit-box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-container a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
  background-color: var(--active-item-bgcolor);
  color: var(--active-item-textcolor);
  border-radius: 10px;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.navbar .menu-items {
  position: absolute;
  z-index: 3;
  padding-top: 120px;
  -webkit-box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100%;
  -webkit-transform: translate(-150%);
  -ms-transform: translate(-150%);
  transform: translate(-150%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  text-align: center;
  background-color: var(--background-color);
}

.navbar .menu-items li {
  margin-bottom: 16px;
  font-weight: 500;
}

.page-navigation__mobilelink {
  padding-top: 12px;
  padding-bottom: 12px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  gap: 12px;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 18px;
  color: var(--primary-text-color);
}

.page-navigation__logo {
  width: 24px;
}

.nav-container input[type='checkbox']:checked ~ .menu-items {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.nav-container input[type='checkbox']:checked ~ .hamburger-lines .line1 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-container input[type='checkbox']:checked ~ .hamburger-lines .line2 {
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}

.nav-container input[type='checkbox']:checked ~ .hamburger-lines .line3 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-container input[type='checkbox']:checked ~ .logo {
  display: none;
}

.page-navigation {
  display: none;
}

.page-board {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
}
.page-board__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  margin-bottom: 14px;
}

.page-board__main-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
  cursor: pointer;
}
.page-board__active-title {
  font-size: 14px;
  font-weight: 400;
  color: var(--active-title-color);
  margin-bottom: 12px;
  cursor: pointer;
}

.page-board__searchField {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-board__searchimage {
  position: absolute;
  z-index: 2;
  width: 16px;
  height: 16px;
  top: 10px;
  left: 11px;
}

.page-board__input {
  margin-bottom: 12px;
  width: 100%;
  height: 38px;
  background-color: var(--search-input-bgcolor);
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 40px;
  outline: 1px solid gainsboro;
}

.page-board__table-head {
  display: none;
}
.page-board__table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 18px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.8);
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.8);
  border-radius: 10px;
}
.page-board__tablecell {
  margin-right: 20px;
}

.page-board__tablecell--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80px;
  padding: 4px 12px;
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #00b087;
  border-radius: 4px;
  color: #008767;
}
.page-board__tablecell--inactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 84px;
  padding: 4px 12px;
  background: #ffc5c5;
  border: 1px solid #df0404;
  border-radius: 4px;
  color: #df0404;
}

.page-board__tablecell--inactive,
.page-board__tablecell--active {
  width: 100%;
}

.page-board__tablecell:first-child {
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
}
.active-page {
  background-color: var(--active-item-bgcolor) !important;
  color: var(--active-item-textcolor);
}
.page-board__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page-board__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.page-board__info {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
}

.page-board__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 12px;
  width: 26px;
  height: 24px;
  margin-right: 12px;
  padding: 6px 9px;
  background: #f5f5f5;
  border: 1px solid var(--paginator-bgcolor);
  border-radius: 4px;
  cursor: pointer;
  &:last-child {
    margin-right: 0px;
  }
}

.page-board__dots {
  font-size: 17px;
  margin-left: -2px;
  margin-right: 12px;
}

@media screen and (min-width: 1440px) {
  .page-header {
    display: none;
  }

  .container {
    width: 1440px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 306px;
    flex-basis: 306px;
    height: 1198px;
    -webkit-box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    padding-top: 36px;
    padding-bottom: 78px;
    padding-left: 28px;
    padding-right: 28px;
    &__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 38px;
    }
    &__logo {
      margin-right: 8px;
      width: 37px;
    }
    &__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
    }
    &__title {
      margin-right: 7px;
      font-size: 26px;
      line-height: 1.5;
      font-weight: 600;
    }
    &__version {
      font-size: 10px;
      font-weight: 500;
      color: var(--version-color);
    }
    &__list {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      padding-left: 0px;
    }
    &__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
    }
    &__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 250px;
      height: 46px;
      margin-bottom: 19px;
      border-radius: 8px;
      padding: 11px 8px 11px 11px;

      &:hover,
      &:focus {
        background-color: var(--active-item-bgcolor);
        opacity: 0.9;
        -webkit-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        transition: 0.3s linear;
        cursor: pointer;
      }
    }

    &__spanwrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
    &__icon {
      margin-right: 14px;
      fill: var(--navitem-text-color);
    }

    &__text {
      font-size: 14px;
      font-weight: 500;
      color: var(--navitem-text-color);
    }
    &__footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 39px;
    }
    &__avatar {
      margin-right: 12px;
    }
    &__name {
      font-size: 14px;
      font-weight: 500;
    }
    &__position {
      font-size: 12px;
      color: var(--userposition-text-color);
    }
  }

  .page-navigation__icon--right {
    margin-right: 0;
  }

  .page-navigation__item:hover .page-navigation__text,
  .page-navigation__item:hover .page-navigation__text {
    color: var(--active-item-textcolor);
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .page-navigation__item:hover .page-navigation__icon,
  .page-navigation__item:hover .page-navigation__icon {
    fill: white;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .isActiveText {
    color: var(--active-item-textcolor);
  }

  // page board right side

  .table__cells-text {
    color: var(--secondary-text-color);
  }

  .page-board {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 71px;
    padding-right: 95px;
    padding-top: 41px;

    &__table {
      display: block;
      margin-bottom: 15px;
    }

    &__customers {
      // height: 812px;
      background: var(--background-color);
      -webkit-box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
      box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
      border-radius: 30px;
      padding-top: 30px;
      padding-left: 38px;
      padding-right: 40px;
      padding-bottom: 40px;
    }

    &__text {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      margin-bottom: 51px;
      font-size: 24px;
      line-height: 1.5;
      font-weight: 500;
    }

    &__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 40px;
    }

    &__titles {
      display: block;
    }
    &__main-title {
      font-size: 22px;
    }
    &__active-title {
      margin-bottom: 0;
    }

    &__searchField {
      position: relative;
      width: 216px;
      height: 38px;
      margin-right: 48px;
    }
    &__input {
      position: absolute;
      font-size: 12px;
      width: 216px;
      height: 38px;
      background-color: var(--search-input-bgcolor);
      border-radius: 10px;
      border: none;
      outline: none;
      padding-left: 42px;
      padding-top: 6px;
      margin-bottom: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    &__searchimage {
      position: absolute;
      z-index: 2;
      width: 21px;
      height: 21px;
      top: 10px;
      left: 11px;
    }

    &__table-head {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 1px solid var(--paginator-bgcolor);

      padding-bottom: 14px;
      margin-left: -38px;
      margin-right: -40px;
      padding-left: 38px;
    }

    &__table-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      border: none;
      margin-bottom: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding-top: 17px;
      padding-bottom: 20px;
      padding-left: 0;
      border-bottom: 1px solid var(--paginator-bgcolor);
    }
  }

  .page-board__tablecell {
    font-size: 14px;
    font-weight: 500px;
    &:nth-child(1) {
      width: 152px;
    }
    &:nth-child(2) {
      width: 111px;
    }
    &:nth-child(3) {
      width: 136px;
    }
    &:nth-child(4) {
      width: 187px;
    }
    &:nth-child(5) {
      width: 121px;
    }
    &:nth-child(6) {
      width: 78px;
    }
  }

  .table__cells-text {
    &:nth-child(5) {
      width: 132px;
    }
    &:nth-child(6) {
      width: 78px;
    }
  }

  .page-board__tablecell--inactive,
  .page-board__tablecell--active {
    width: auto;
  }
  .page-board__tablecell:first-child {
    font-weight: 400;
    text-align: start;
    margin-bottom: 0;
  }

  .page-board__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .page-board__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 18px;
  }

  .page-board__info {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 500;
  }

  .page-board__paginator {
    margin-right: 13px;
  }

  .page-board__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 12px;
    width: 26px;
    height: 24px;
    margin-right: 12px;
    padding: 6px 9px;
    background: #f5f5f5;
    border: 1px solid var(--paginator-bgcolor);
    border-radius: 4px;
    cursor: pointer;

    &:last-child {
      margin-right: 0px;
    }
  }
}
.isHidden {
  display: none;
}
