:root {
  --primary-text-color: #292d32;
  --secondary-text-color: #b5b7c0;
  --background-color: #ffffff;
  --background-color: #ffffff;
  --light-text-color: #ffffff;
  --title-text-color: #000000;
  --userposition-text-color: #757575;
  --navitem-text-color: #9197b3;
  --active-title-color: #16c098;
  --active-button-textcolor: #008767;
  --active-button-bgcolor: rgba(22, 192, 152, 0.38);
  --inactive-button-textcolor: #df0404;
  --inactive-button-bgcolor: #ffc5c5;
  --active-item-bgcolor: #5932ea;
  --active-item-textcolor: #ffffff;
  --paginator-bgcolor: #eeeeee;
  --paginator-bgcolor-active: #5932ea;
  --version-color: #838383;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
.isActive {
  background-color: var(--active-item-bgcolor);
  color: var(--active-item-textcolor);
}

.container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
}
.page-navigation {
  display: flex;
  flex-direction: column;
  flex-basis: 306px;
  height: 1198px;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  padding-top: 36px;
  padding-bottom: 78px;
  padding-left: 28px;
  padding-right: 28px;
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
  }
  &__logo {
    margin-right: 8px;
  }
  &__wrapper {
    display: flex;
    align-items: baseline;
  }
  &__title {
    margin-right: 4px;
    font-size: 26px;
    line-height: 1.5;
    font-weight: 600;
  }
  &__version {
    font-size: 10px;
    font-weight: 500;
    color: var(--version-color);
  }
  &__list {
    flex-grow: 1;
    padding-left: 0px;
  }
  &__link {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__item {
    display: flex;
    align-items: center;
    width: 250px;
    height: 46px;
    margin-bottom: 29px;
    border-radius: 8px;
    padding: 11px 8px 11px 11px;

    &:hover,
    &:focus {
      background-color: var(--active-item-bgcolor);
      opacity: 0.9;
      transition: 0.3s linear;
      cursor: pointer;
    }
  }

  &__spanwrap {
    display: flex;
    flex-grow: 1;
  }
  &__icon {
    margin-right: 14px;
    fill: var(--navitem-text-color);
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    color: var(--navitem-text-color);
  }
  &__footer {
    display: flex;
    align-items: center;
    height: 42px;
  }
  &__avatar {
    margin-right: 12px;
  }
  &__name {
    font-size: 14px;
    font-weight: 500;
  }
  &__position {
    font-size: 12px;
    color: var(--userposition-text-color);
  }
}

.page-navigation__icon--right {
  margin-right: 0;
}

.page-navigation__item:hover .page-navigation__text,
.page-navigation__item:hover .page-navigation__text {
  color: var(--active-item-textcolor);
  transition: 0.3s linear;
}
.page-navigation__item:hover .page-navigation__icon,
.page-navigation__item:hover .page-navigation__icon {
  fill: white;
  transition: 0.3s linear;
}
.isActiveText {
  color: var(--active-item-textcolor);
}
.page-board {
  flex-grow: 1;
  padding-left: 71px;
  padding-right: 95px;
  padding-top: 41px;

  &__data {
    height: 812px;
    background: var(--background-color);
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 30px;
  }

  &__text {
    margin-bottom: 51px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
  }
}
